@model DOAN_COSO.Models.CheckoutViewModels
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
    List<DOAN_COSO.Models.CartModel> cart = ViewBag.GioHang;
}
<style>
    select {
        background-color: black !important;
    }

    option:not(:checked) {
        background-color: black;
    }
</style>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 ftco-animate">
                <form action="#" class="billing-form ftco-bg-dark p-3 p-md-5" style=" margin-top:100px">
                    <h3 class="mb-4 billing-heading">Thông Tin Khách Hàng</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="firstname">Họ và Tên</label>
                                <input type="text" class="form-control" style="color: white !important;" value="@Model.Name" placeholder="Nhập Tên Của Bạn">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Email</label>
                                <input type="text" class="form-control" value="@Model.Email" style="color: white !important;" disabled="disabled" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetaddress">Địa Chỉ</label>
                                <input type="text" class="form-control" value="@Model.Address"data-val="true" data-val-required="Địa chỉ không được để trống." style="color: white !important;" placeholder="House number and street name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="streetaddress">Số điện thoại</label>
                                <input type="text" class="form-control" value="@Model.PhoneNumber"data-val="true"  data-val-required="Số điện thoại không được để trống." style="color: white !important;" placeholder="Appartment, suite, unit etc: (optional)">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="towncity">Ngày Đặt</label>
                                <input type="text" class="form-control" disabled="disabled" value="@Model.NgayDat.ToShortDateString()" style="color: white !important;" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="postcodezip">Ngày Giao</label>
                                <input type="text" class="form-control" disabled="disabled" value="@Model.NgayGiao.ToShortDateString()" style="color: white !important;" placeholder="">
                            </div>
                        </div>
                        <div class="w-100"></div>

                    </div>
                </form><!-- END -->

            </div> <!-- .col-md-8 -->


            <div class="col-xl-5 sidebar ftco-animate">
                @using (Html.BeginForm("Checkout", "GioHang",FormMethod.Post))
                {

                <div class="sidebar-box ftco-animate">
                    <div class="categories">
                        <h3 style="margin-bottom:30px">Danh Sách Sản Phẩm</h3>
                        <div class="row">
                            <div class="col-md-4" style="color :white!important;margin-bottom:30px">
                                Tên Sản Phẩm
                            </div>
                            <div class="col-md-4" style="color :white!important">
                                Đơn Giá
                            </div>
                            <div class="col-md-4" style="color :white!important">
                                Số Lượng
                            </div>
                            @foreach (var item in cart)
                            {
                                <div class="col-md-4" style="color :white!important">
                                    @item.SanPham.tenSP
                                </div>
                                <div class="col-md-4" style="color :white!important">
                                    @item.SanPham.GiaBan
                                </div>
                                <div class="col-md-4" style="color :white!important">
                                    @item.Quantity
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="cart-detail cart-total ftco-bg p-3 p-md-4">
                    <h3 class="billing-heading mb-4">Chi tiết giỏ hàng</h3>
                    <p class="d-flex">
                        <span style="color :white!important">Số Món</span>
                        <span style="color :white!important">@ViewBag.Count</span>
                    </p>
                    <p class="d-flex">
                        <span style="color :white!important">Số Lượng Sản Phẩm</span>
                        <span style="color :white!important">@ViewBag.SLSP</span>
                    </p>

                    <hr>
                    <p class="d-flex total-price">
                        <span style="color :white!important">Tổng Tiền</span>
                        <span style="color:yellow!important">@ViewBag.TongTien</span>
                    </p>
                    <div class="form-group mt-4">
                        <div class="radio">
                            <label class="mr-3">@Html.RadioButton("payment", "Trả tiền khi nhận hàng") Trả tiền khi nhận hàng </label>
                            <label>@Html.RadioButton("payment", "Trả tiền qua momo") Trả tiền qua momo</label>
                            <label>@Html.RadioButton("payment", "Trả tiền qua Paypal") Trả tiền qua Paypal</label>

                        </div>
                    </div>
                    @if (cart.Count() > 0)
                    {
                        <button type="submit" class="ajax-reset btn btn-primary py-3 px-4">
                            Thanh Toán
                        </button>
                    }
                    else
                    {
                        <button disabled type="submit" class="abc btn btn-primary py-3 px-4">
                            Thanh Toán
                        </button>
                    }
                </div>
                }
            </div>
        </div>
    </div>
</section> <!-- .section -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
@section reset{
    <script>
        $(document).ready(function () {
            $(".ajax-reset").click(function () {
                $('#CartSum').text(0);
            });
        });
    </script>
}