@model DOAN_COSO.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/LayoutTrangChu.cshtml";
}
<div class="row" style="margin-top:100px ; margin-left:400px">
    <div class="col-md-8">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label text text-warning" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "border-lg border-primary font-weight", @placeholder = "Nhập Mật Khẩu Cũ" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label text text-warning" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "border-lg border-primary font-weight", @placeholder = "Nhập Mật Khẩu Mới" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label text text-warning" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "border-lg border-primary font-weight", @placeholder = "Nhập Lại Mật Khẩu Mới" })
                </div>
            </div>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Đổi mật khẩu" class="btn btn-primary btn-outline-primary" />
                </div>
            </div>
        }
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
