@model IEnumerable<DOAN_COSO.Models.SanPham>

<section class="ftco-section" >
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Discover</span>
                <h2 class="mb-4">Best Coffee Sellers </h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-3">
                    <div class="menu-entry">
                        <div class="text text-center pt-4">
                            <a href="@Url.Action("Details","Home", new { id = item.IDSP})" class="img" style="background-image: url(@item.Hinh)"></a>
                            <h3><a href="#">@item.tenSP</a></h3>
                            <h3><a href="#">@item.GiaBan</a></h3>

                            <button type="button" data-id="@item.IDSP" class="ajax-add-to-cart btn btn-primary btn-outline-primary">
                                <p style="margin-top:20px">Add to Cart</p>
                            </button>

                        </div>
                    </div>
                </div>

            }
        </div>
        <div id="loader">
            <div class="row">

                @Ajax.ActionLink("Load", "TrangChu", "Home",
                            new AjaxOptions()
                            {
                                HttpMethod = "POST",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "change",
                                LoadingElementId = "loader"
                            }
                            
                            , new { @class = "btn btn-primary btn-outline-primary" })
            </div>
        </div>
        
    </div>
</section>
