@{ var giohang = (List<DOAN_COSO.Models.CartModel>)Session["cart"];
    DOAN_COSO.Models.ApplicationDbContext db = new DOAN_COSO.Models.ApplicationDbContext();
    ViewBag.listLoaiSP = db.LoaiSanPhams.ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title id="">Coffee & Cake</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

    <link rel="stylesheet" href="~/cssForCoffee/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/cssForCoffee/css/animate.css">

    <link rel="stylesheet" href="~/cssForCoffee/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/cssForCoffee/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/cssForCoffee/css/magnific-popup.css">

    <link rel="stylesheet" href="~/cssForCoffee/css/aos.css">

    <link rel="stylesheet" href="~/cssForCoffee/css/ionicons.min.css">

    <link rel="stylesheet" href="~/cssForCoffee/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/cssForCoffee/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/cssForCoffee/css/flaticon.css">
    <link rel="stylesheet" href="~/cssForCoffee/css/icomoon.css">
    <link rel="stylesheet" href="~/cssForCoffee/css/style.css">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

            <a class="navbar-brand" href="@Url.Action("TrangChu","Home")">Coffee<small>Cakes</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Danh Mục Sản Phẩm
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active"><a href="~/Home/TrangChu" class="nav-link">Trang Chủ</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danh Mục</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="@Url.Action("TrangChu", "Home")">Tất Cả</a>
                            @foreach (var item in ViewBag.listLoaiSP)
                            {
                                <a name="IdLoai" id="IdLoai" class="dropdown-item" href="@Url.Action("TrangChu", "Home", new { IdLoai = item.IDLoaiSP })">@item.tenLoaiSP</a>}

                        </div>
                    </li>


                    <li class="nav-item" style="margin-top:20px">
                        <div style="margin-left:5px">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </li>

                    <li class="nav-item cart">
                        <a href="@Url.Action("GioHang", "GioHang")" class="nav-link">
                            <span class="icon icon-shopping_cart"></span><span class="bag d-flex justify-content-center align-items-center">
                                <small id="CartCount">
                                    @(giohang != null ? giohang.Count() : 0)
                                </small>
                            </span>
                        </a>
                    </li>
                    <li style="margin-left :50px">
                        <div class="nav-item">
                            <form action="#" class="search-form">
                                @using (Html.BeginForm("TrangChu", "Home", FormMethod.Get))
                                {
                                    <div class="form-group">
                                        <div class="icon">
                                            <button type="submit">
                                                <span class="icon-search"></span>
                                            </button>
                                        </div>
                                        <input type="text" value="@ViewBag.Keyword" name="searchString" class="form-control" placeholder="Nhập sản phẩm cần tìm">
                                    </div>
                                }
                            </form>

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()

    <footer class="ftco-footer ftco-section img">

        <div class="container" style="margin:auto">
            <div class="row mb-7">

                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Thông tin liên hệ</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Việt Nam</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">0966757174</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">nht.it19@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>
    <script src="~/cssForCoffee/js/jquery.min.js"></script>
    <script src="~/cssForCoffee/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/cssForCoffee/js/popper.min.js"></script>
    <script src="~/cssForCoffee/js/bootstrap.min.js"></script>
    <script src="~/cssForCoffee/js/jquery.easing.1.3.js"></script>
    <script src="~/cssForCoffee/js/jquery.waypoints.min.js"></script>
    <script src="~/cssForCoffee/js/jquery.stellar.min.js"></script>
    <script src="~/cssForCoffee/js/owl.carousel.min.js"></script>
    <script src="~/cssForCoffee/js/jquery.magnific-popup.min.js"></script>
    <script src="~/cssForCoffee/js/aos.js"></script>
    <script src="~/cssForCoffee/js/jquery.animateNumber.min.js"></script>
    <script src="~/cssForCoffee/js/bootstrap-datepicker.js"></script>
    <script src="~/cssForCoffee/js/jquery.timepicker.min.js"></script>
    <script src="~/cssForCoffee/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/cssForCoffee/js/google-map.js"></script>
    <script src="~/cssForCoffee/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Addtocart", required: false)
    @RenderSection("updown", required: false)
    @RenderSection("reset", required: false)
    <script src="~/Scripts/toastr.js"></script>
    @RenderSection("success", required: false)

</body>
</html>

