@model IEnumerable<DOAN_COSO.Models.HoaDon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

</p>
@using (Html.BeginForm("Index", "HoaDons"))
{

    @Html.DropDownList("nam", (IEnumerable<SelectListItem>)ViewBag.List,"Mời Chọn")
    @*    @Html.RadioButton("tim", "null") <p>Tất Cả</p>

        @Html.RadioButton("tim", "true") <p>Đã Duyệt</p>
        @Html.RadioButton("tim", "false") <p>Chưa Duyệt</p>*@
    <button style="width:200px" type="submit" value="tìm" class="btn btn-success">
    </button>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrangDH)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayGiao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrangDH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDHD }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDHD }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDHD })
            </td>
        </tr>
    }

</table>
